*.rdf
*.rst
*.sublime-*
.*.cfg
.DS_Store
.git
.gitignore
Art
bin
bootstrap.py
build
data
dev.cfg
develop-eggs
docker-compose.yaml
docs
jenkins.cfg
old
ops.cfg*
parts
support
templates
var
zexp-exports
group-export
