*.egg-info
*.git-info
*.log
*.py[co]
*.sublime-workspace
.*.cfg
._*
.DS_Store
.idea/
.venv
_build
bin
build
compose.sh
develop-eggs
dist
edrn.sql.bz2
eggs
group-export
MASTER-PACKAGE
media/
ops.cfg
parts
robot_output.xml
site.cfg
static/
typescript
var
venv
zexp-exports
