<ul>
    <li data-jstree=''>
        LabCAS Common Data Elements
        <div class='tree_view_annotation'>
            <h3>LabCAS CDEs</h3>
            <p>
                The LabCAS Common Data Elements are used throughout the Laboratory
                Catalog and Archive System.
            </p>
        </div>
        <ul>
            <li>
                Collections
                <div class='tree_view_annotation'>
                    <h3>Collections</h3>
                    <p>
                        A collection is the highest-level structural element for organizing
                        data in LabCAS. Collections contain datasets.
                    </p>
                    <h4>Attributes</h4>
                    <table class=''>
                        <thead>
                            <tr><th>CDE</th><th>Required</th></tr>
                        </thead>
                        <tbody>
                            <tr><td>CollectionName</td><td>✓</td></tr>
                            <tr><td>CollectionDescription</td><td>✓</td></tr>
                            <tr><td>LeadPIID</td><td>✓</td></tr>
                            <tr><td>LeadPIName</td><td> </td></tr>
                            <tr><td>DataCustodian</td><td> </td></tr>
                            <tr><td>DataCustodianEmail</td><td> </td></tr>
                            <tr><td>InstitutionID</td><td>✓</td></tr>
                            <tr><td>InstitutionName</td><td> </td></tr>
                            <tr><td>ProtocolID</td><td>✓</td></tr>
                            <tr><td>ProtocolName</td><td> </td></tr>
                            <tr><td>ProtcolAbbreviatedName</td><td> </td></tr>
                            <tr><td>Discipline</td><td>✓</td></tr>
                            <tr><td>DataCategory</td><td> </td></tr>
                            <tr><td>Organ</td><td>✓</td></tr>
                            <tr><td>EDRNCollaborativeGroup</td><td>✓</td></tr>
                            <tr><td>ResultsAndConclusionSummary</td><td> </td></tr>
                            <tr><td>PubMedID</td><td> </td></tr>
                            <tr><td>ReferenceURL</td><td> </td></tr>
                            <tr><td>Consortium</td><td>✓</td></tr>
                            <tr><td>Species</td><td>✓</td></tr>
                            <tr><td>OwnerPrincipal</td><td>✓</td></tr>
                            <tr><td>DOI</td><td> </td></tr>
                            <tr><td>DOIURL</td><td> </td></tr>
                        </tbody>
                    </table>
                </div>
                <ul>
                    <li>
                        Datasets
                        <div class='tree_view_annotation'>
                            <h3>Datasets</h3>
                            <p>
                                A dataset contains a set of data files but can also contain other
                                datasets, forming a nested composition. Datasets containing files
                                cannot contain other datasets.
                            </p>
                            <p>
                                Attributes that are not specified for a dataset inherit their values
                                from their parent datasets or parent collection.
                            </p>
                            <h4>Attributes</h4>
                            <table class=''>
                                <thead>
                                    <tr><th>CDE</th><th>Required</th></tr>
                                </thead>
                                <tbody>
                                    <tr><td>DatasetName</td><td>✓</td></tr>
                                    <tr><td>DatasetDescription</td><td>✓</td></tr>
                                </tbody>
                            </table>
                        </div>
                        <ul>
                            <li>
                                Core Files
                                <div class='tree_view_annotation'>
                                    <h3>Core Files</h3>
                                    <p>
                                        Core files are the actual computer files of data that comprise the
                                        scientific instrument output of observations, experiments, and so forth.
                                    </p>
                                    <p>
                                        Attributes that are not specified for a core file inherit their values
                                        from their parent datasets or parent collection.
                                    </p>
                                    <h4>Attributes</h4>
                                    <table class=''>
                                        <thead>
                                            <tr><th>CDE</th><th>Required</th></tr>
                                        </thead>
                                        <tbody>
                                            <tr><td>FileName</td><td>?</td></tr>
                                            <tr><td>DateFileGenerated</td><td></td></tr>
                                            <tr><td>SubmittingSiteID</td><td>✓</td></tr>
                                            <tr><td>SubmittingPersonID</td><td>✓</td></tr>
                                            <tr><td>ProcessingLevel</td><td>✓</td></tr>
                                            <tr><td>ContentType</td><td>✓</td></tr>
                                            <tr><td>AssayType</td><td></td></tr>
                                            <tr><td>ProcessingSoftware</td><td></td></tr>
                                            <tr><td>ProcessingSoftwareVersion</td><td></td></tr>
                                            <tr><td>Instrument</td><td></td></tr>
                                            <tr><td>md5sum</td><td></td></tr>
                                            <tr><td>DOI</td><td></td></tr>
                                            <tr><td>DOI URL</td><td></td></tr>
                                        </tbody>
                                    </table>
                                </div>
                            </li>
                            <li>
                                Pathology Imaging Extension
                                <div class='tree_view_annotation'>
                                    <h3>Pathology Imaging Extension</h3>
                                    <p>TBD.</p>
                                    <p>
                                        Attributes that are not specified for a pathology imaging extension
                                        inherits its values from its parent datasets or parent collection.
                                    </p>
                                    <h4>Attributes</h4>
                                    <p>TBD.</p>
                                </div>
                            </li>
                            <li>
                                BRSI Imaging Extension
                                <div class='tree_view_annotation'>
                                    <h3>BRSI Imaging Extension</h3>
                                    <p>TBD.</p>
                                    <p>
                                        Attributes that are not specified for a BRSI imaging extension
                                        inherits its values from its parent datasets or parent collection.
                                    </p>
                                    <h4>Attributes</h4>
                                    <p>TBD.</p>
                                </div>
                            </li>
                            <li>
                                DICOM Extension
                                <div class='tree_view_annotation'>
                                    <h3>DICOM Extension</h3>
                                    <p>TBD.</p>
                                    <p>
                                        Attributes that are not specified for a DICOM extension
                                        inherits its values from its parent datasets or parent collection.
                                    </p>
                                    <h4>Attributes</h4>
                                    <p>TBD.</p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Other CDEs
        <div class='tree_view_annotation'>
            TDB.
        </div>
        <ul>
            <li>TBD.</li>
        </ul>
    </li>
</ul>
