{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block title %}Search{% endblock title %}
{% block content %}
    <div class='row'>
        <div class='col-auto'>
            <h1>Search</h1>
        </div>
    </div>
    <form class='mt-3 mb-3' action='{% url "search" %}' method='GET'>
        <div class='row g-3'>
                <div class='col-md-1'>
                    <label for='searchTerms' class='form-label'>Keywords:</label>
                </div>
                <div class='col-md-10'>
                    <input id='searchTerms' class='form-control form-control-sm' type='text' name='query' 
                        {% if query %}
                            value='{{query}}'
                        {% else %}
                            placeholder='Search terms…'
                        {% endif %}
                        aria-label='Search terms…'
                    />
                </div>
                <div class='col-md-1'>
                    <input type='submit' value='Search'/>
                </div>
        </div>
    </form>
    <div class='row'>
        <div class='col-lg-1'>
            {% if page.paginator.count > 0 %}
                <label for='numberOfResults'>
                    Found:
                </label>
                <span id='numberOfResults'>
                    {{page.paginator.count}}
                </span>
            {% endif %}
        </div>
        <div class='col-lg-8'>
        {% if page.paginator.count > 0 %}
            <div class='list-group'>
                {% for result in page %}
                    <a class='list-group-item list-group-item-action' href='{% pageurl result %}'>
                        <div class='d-flex w-100 justify-content-between'>
                            <h6 class='mb-1'>{{result}}</h6>
                            <small>{{result.content_type.name|capfirst}}</small>
                        </div>
                        <p class='mb-1'>
                            {% if result.specific.abstract %}
                                {{result.specific.abstract|safe|truncatechars_html:200}}
                            {% elif result.specific.description %}
                                {{result.specific.description|safe|truncatechars_html:200}}
                            {% elif result.search_description %}
                                {{result.search_description|safe|truncatechars_html:200}}
                            {% else %}
                                <small>No description available</small>
                            {% endif %}
                        </p>
                    </a>
                {% endfor %}
            </div>

            <nav aria-label='Page navigation' class='mt-3'>
                <ul class='pagination justify-content-center'>
                    {% if page.has_previous %}
                        <li class='page-item'>
                            <a href='?page={{page.previous_page_number}}&amp;query={{query|urlencode}}'
                                class='page-link' aria-label='Previous'>
                                <span aria-hidden='true'><i class='bi-caret-left'></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li class='page-item disabled'>
                            <span class='page-link' aria-label='Previous'>
                                <span aria-hidden='true'><i class='bi-caret-left'></i></span>
                            </span>
                        </li>
                    {% endif %}

                    {% for interPage in ranger %}
                        {% if interPage == page.paginator.ELLIPSIS %}
                            <li class='page-item disabled'><span class='page-link'>{{interPage}}</span></li>
                        {% elif interPage == page.number %}
                            <li class='page-item active' aria-current='page'>
                                <span class='page-link'>{{interPage}}</span>
                            </li>
                        {% else %}
                            <li class='page-item'>
                                <a href='?page={{interPage}}&amp;query={{query|urlencode}}' class='page-link'>
                                    {{interPage}}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                        <li class='page-item'>
                            <a href='?page={{page.next_page_number}}&amp;query={{query|urlencode}}'
                                class='page-link' aria-label='Next'>
                                <span aria-hidden='true'><i class='bi-caret-right'></i></span>
                            </a>
                        </li>
                    {% else %}
                        <li class='page-item disabled'>
                            <span class='page-link' aria-label='Next'>
                                <span aria-hidden='true'><i class='bi-caret-right'></i></span>
                            </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>

        {% elif query %}
            <div class='col-lg-8 mb-3'>
                No results found
            </div>
        {% else %}
            <div class='col-lg-8 mb-3'>
                Enter some search keywords
            </div>
        {% endif %}
        </div>
        <div class='col-lg-2'>
            {% if num_promotions %}
                {% if num_promotions == 1 %}
                    <h5><i class='bi bi-eyeglasses'></i> Looking for this?</h5>
                {% else %}
                    <h5><i class='bi bi-eyeglasses'></i> Looking for these?</h5>
                {% endif %}
                <ul class='list-group list-group-flush'>
                    {% for promotion in promotions %}
                        <li class='list-group-item'>
                            <a href='{{promotion.page.url}}' title='{{promotion.description}}'>
                                {{promotion.page.title}}
                            </a>
                            <small>({{promotion.page.content_type.name|capfirst}})</small>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock content %}
{# -*- Django HTML -*- #}
