{% load biomarker_tags edrnsite_streams_tags %}
{% if visible %}
    <div class='row'>
        <div class='col-lg-10'>
            <dl class='row'>
                <dt class='col-md-2'>Aliases</dt>
                <dd class='col-md-10'>
                    <ul class='list-inline'>
                        {% for alias in aliases %}
                            <li class='list-inline-item'>{{alias}}</li>
                        {% empty %}
                            <li class='list-inline-item small'>None defined for this biomarker</li>
                        {% endfor %}
                    </ul>
                </dd>
                <dt class='col-md-2'>Description</dt>
                <dd class='col-md-10'>
                    {{description}}
                </dd>
            </dl>
        </div>
        <div class='col-lg-2'>
            <h5>OncoMX</h5>
            <p>
                Search for this biomarker in
                <a href='https://www.oncomx.org/searchview/?gene={{hgnc_name}}'>
                    OncoMX&#x00a0;{% mark_external_link 'https://www.oncomx.org/searchview/?gene={{hgnc_name}}' %}
                </a>
            </p>
            <h5>Attributes</h5>
            <dl>
                <dt>QA State</dt>
                <dd>{{qa_state}}</dd>
                <dt>Type</dt>
                <dd>{{biomarker_type}}</dd>
                <dt>HGNC Name</dt>
                <dd>{{hgnc_name}}</dd>
            </dl>
        </div>
    </div>
{% else %}
    {% private_biomarker %}
{% endif %}
{# -*- HTML (Jinja) -*- #}
