{% load biomarker_tags %}
{% if visible %}
    <div class='row'>
        <div class='col-lg-12'>
            <ul class='list-unstyled'>
                {% for pub in publications %}
                    <li><a href='{{pub.url}}'>{{pub.title}}</a></li>
                {% empty %}
                    <li class='small'>No publications were specified for this biomarker.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% else %}
    {% private_biomarker %}
{% endif %}
{# -*- Django HTML -*- #}
