<div class='card w-75'>
    <h6 class='card-header'>{{title}}</h6>
    <div class='card-body'>
        <h6 class='card-title'>Study phase on the {{organ|lower}}: {{bss.phase}}</h6>
        <p class='card-text'>
            {% if description %}
                {{description}}
            {% else %}
                <small>No description of this protocol is available.</small>
            {% endif %}
        </p>
        <a href='{{url}}' class='btn btn-outline-secondary btn-sm'>View Protocol</a>
        <h6 class='mt-3'>
            Decision rule:
            {% if bss.decision_rule %}
                {{bss.decision_rule}}
            {% else %}
                <small>No decision rule specified.</small>
            {% endif %}
        </h6>
        {% if bss.publications.count %}
            <h6>Publications</h6>
            <ul class='list-unstyled'>
                {% for pub in bss.sorted_publications %}
                    <li><a href='{{pub.url}}'>{{pub.title}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if bss.resources.count %}
            <h6>Resources</h6>
            <ul class='list-unstyled'>
                {% for res in bss.sorted_resources %}
                    <li><a href='{{res.identifier}}'>{{res.title}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{# -*- HTML (Jinja) -*- #}
