{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags edrn_collabgroups_tags tz %}
{# 🔮 TODO: caching #}
{% block content %}
    <div class='row'>
        <div class='col-md-12 pt-3'>
            <h1>{{page.title}}</h1>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-9'>
            {% if page.online_meeting_url %}
                {% if not hide_online_button %}
                    <p>
                        <a href='{{page.online_meeting_url}}' class='btn btn-outline-primary'>
                            <span title='{{page.online_meeting_url}}'>
                                <i class='bi bi-camera-video'></i>
                                Join the online meeting
                            </span>
                        </a>
                    </p>
                {% else %}
                    <p class='small'>This meeting was online but already occurred.</p>
                {% endif %}
            {% else %}
                <p class='small'>(This meeting is not online.)</p>
            {% endif %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class='col-md-3'>
            <h4>When</h4>
            <dl>
                <dt>Los Angeles</dt>
                <dd>{{page.when|timezone:'America/Los_Angeles'}}</dd>
                <dt>Denver</dt>
                <dd>{{page.when|timezone:'America/Denver'}}</dd>
                <dt>Chicago</dt>
                <dd>{{page.when|timezone:'America/Chicago'}}</dd>
                <dt>New York</dt>
                <dd>{{page.when|timezone:'America/New_York'}}</dd>
                <dt>UTC</dt>
                <dd>{{page.when|timezone:'UTC'}}</dd>
            </dl>
        </div>
    </div>
{% endblock content %}
{# -*- HTML (Jinja) -*- #}
