{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags edrn_collabgroups_tags %}
{# 🔮 TODO: caching #}
{% block content %}
    <div class='row'>
        <div class='col-md-12 pt-3'>
            <h1>{{page.title}}</h1>
        </div>
    </div>

    <div class='row mb-3'>
        <div class='col-md-8'>
            {% if page.description %}
                <p>{{page.description}}</p>
            {% else %}
                <p class='small'>No description was provided for this committee/group.</p>
            {% endif %}

            {% if have_events %}
                <h2>Events</h2>

                {% if future_events %}
                    <p>Upcoming Events:</p>
                    <ul class='list-unstyled'>
                        {% for event in future_events %}
                            <li><a href='{{event.url}}'>{{event.title}}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {% if past_events %}
                        <p class='small'>
                            No upcoming events scheduled.
                            Click or tap "Past Events" below ↓ to see events that have occurred in the past.
                        </p>
                    {% else %}
                        <p class='small'>No upcoming events scheduled.</p>
                    {% endif %}
                {% endif %}

                {% if past_events %}
                    <p class='small'>
                        <button class='btn btn-outline-secondary btn-small' type='button' data-bs-toggle='collapse'
                            data-bs-target='#past_events' aria-expanded='false' aria-controls='past_events'
                            role='button'>
                            Past Events
                        </button>
                        <div class='collapse' id='past_events'>
                            <ul class='list-unstyled'>
                                {% for event in past_events %}
                                    <li><a href='{{event.url}}'>{{event.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </p>
                {% endif %}
            {% endif %}

            <h2>{{page.documents_heading}}</h2>

            <ul class='list-unstyled'>
                {% for doc in documents %}
                    <li><a href='{{doc.url}}'>{{doc.title}}</a></li>
                {% empty %}
                    <li class='small'>There are no documents stored by this group.</li>
                {% endfor %}
            </ul>

        </div>
        <div class='col-md-4'>
            {% with count=page.program_officers.all|length %}
                {% if count %}
                    <h3>Program Officer{{count|pluralize}}</h3>
                    <ul class='list-unstyled'>
                        {% for person in page.program_officers.all %}
                            <li><a href='{{person.url}}'>{{person.title}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% with count=page.project_scientists.all|length %}
                {% if count %}
                    <h3>Project Scientist{{count|pluralize}}</h3>
                    <ul class='list-unstyled'>
                        {% for person in page.project_scientists.all %}
                            <li><a href='{{person.url}}'>{{person.title}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            {% with count=page.co_chairs.all|length %}
                {% if count %}
                    <h3>Co-Chair{{count|pluralize}}</h3>
                    <ul class='list-unstyled'>
                        {% for person in page.co_chairs.all %}
                            <li><a href='{{person.url}}'>{{person.title}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}



            {% if page.co_chair %}
                <h3 class='mt-2'>Co-Chair</h3>
                <p><a href='{{page.co_chair.url}}'>{{page.co_chair.title}}</a></p>
            {% endif %}

            <h3 class='mt-3'>Members</h3>
            <ul class='list-unstyled'>
                {% for member in members %}
                    <li><a href='{{member.url}}'>{{member.title}}</a></li>
                {% empty %}
                    <li class='small'>There are no other members</li>
                {% endfor %}
            </ul>
        </div>
    </div>


{% endblock content %}
{# -*- HTML (Jinja) -*- #}
