# Sources
# =======
#
# Python packages under development.
# EDRN packages aren't listed here; they're part and
# parcel of the entire EDRN site buildout. This is for any
# additional add-ons.

[sources]
edrnsite.policy = fs edrnsite.policy path=src
edrn.theme      = fs edrn.theme      path=src
