@charset "utf-8";

body {
    background: white !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.plone-navbar {
    background-color: #727272;
    color: white;
    border-bottom: solid 1px black;
}
.plone-nav > li > a:hover,
.plone-nav > li > a:focus {
    text-decoration: none;
    background-color: white;
    color: gray;
}
.plone-navbar-nav > li > a {

}
.plone-navbar-nav > .selected > a,
.plone-navbar-nav > .selected > a:hover,
.plone-navbar-nav > .selected > a:focus {
    color: black;
    background-color: white;
    border: 0px;
    border-top: solid 1px #aaa;
    border-right: solid 1px #aaa;
    border-bottom: solid 1px #fff;
    border-left: solid 1px #aaa;
}

ul#edrn-quicklinks {
    margin-top:0px;
}
ul#edrn-quicklinks li {
    padding-right:5px;
}
#edrn-quicklinks {
    margin: 10px 0 0 0;
    list-style: none;
    padding: 0;
    font-size: 85%;
}
#edrn-quicklinks li {
    border: 1px solid;
    border-color: #ccc #bbb #b6b6b6 #ccc;
    margin: 0 0 3px 0;
    background: #f1f1f1 url(++resource++edrn.theme.images/s-bg.gif) top left repeat-x;
}
#edrn-quicklinks li a {
    display: block;
    padding: 13px 0 13px 60px;
    text-decoration: none;
}
#edrn-quicklinks li a, #edrn-quicklinks li a:link, #edrn-quicklinks li a:visited {
    background-position: 4px 50%;
    background-repeat: no-repeat;
    color: #400;
}
#edrn-quicklinks li a:hover, #edrn-quicklinks li a:active {
    background-position: -462px 50%;
    background-repeat: no-repeat;
    color: #004;
    text-decoration: none;
}
#edrn-quicklinks li a:hover {
    background-color: #fff;
    color: #f00;
}
#q-collabGroups  a {background: url(++resource++edrn.theme/s-collabgroups.gif);}
#q-committees    a {background: url(++resource++edrn.theme/s-committees.gif);}
#q-fund          a {background: url(++resource++edrn.theme/s-newfund.gif);}
#q-book          a {background: url(++resource++edrn.theme/s-newbook.gif);}
#q-cbrg          a {background: url(++resource++edrn.theme/s-investigators.gif);}
#q-dcp           a {background: url(++resource++edrn.theme/s-newdcp.gif);}
#q-advocates     a {background: url(++resource++edrn.theme/s-advocates.gif);}
#q-sites         a {background: url(++resource++edrn.theme/s-sites.gif);}
#q-specimens     a {background: url(++resource++edrn.theme/s-newcbrg.gif);}
#q-standards     a {background: url(++resource++edrn.theme/s-standards.gif);}
#q-newMembers    a {background: url(++resource++edrn.theme/s-newMembers.gif);}
#q-members       a {background: url(++resource++edrn.theme/s-membersList.gif);}
#q-informatics   a {background: url(++resource++edrn.theme/s-informatics.png);}
#q-nct           a {background: url(++resource++edrn.theme/s-nct.png);}

#portal-footer-wrapper {
    background-color: white;
    color: black;
}