@charset "utf-8";

body {
    background-color: #ffffff;
    font-size: 16px; /* Kara 🆙 */
    font-weight: 400;
}
#bmSectionTabs {
    font-size: 16px !important; /* ibid */
}
#bmSectionTabs a {
    border-bottom: 1px solid black !important;
}
#bmSectionTabs a:hover {
    border-bottom: none !important;
}
#bmSectionTabs table {
    font-size: 16px !important; /* ibid */
}
#bmSectionTabs h5 {
    font-size: 16px !important;
    text-transform: uppercase !important;
    margin-left: 10px;
}

/* Kara: darken visited links */
a:visited {
    color: rgb(0, 53, 67);
}

/* Kara's NCI table style */
.biomarkerTable th, .sitesByType th, .datasetsTable th, .publicationsTable th, .contact-info th, .person-parts th {
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px;
    background-color: #17467a;
}
.contact-info {
    border: none;
}
.contact-info td {
    vertical-align: middle !important;
    padding-left: 1em !important;
}

/* Kara's redesigned footer */
#portal-footer .site-actions {
    text-align: left;
}
#portal-footer .site-actions ul li {
    padding-left: 0;
    padding-right: 50px;
}
#portal-footer > .row {
    margin-top: 0;
    padding-top: 12px;
    padding-bottom: 0
}
.doormat {
    background-color: #1a374c;
}
#portal-footer-wrapper, #edrn-colophon {
    background-color: #0f2b40;
    color: white;
}
#portal-footer a {
    color: white;
    font-size: 11pt;
}
#edrn-colophon {
    text-align: right;
    padding: 10px;
    font-size: 9pt;
}
.colophonWrapper {
    padding-right: 20px;
    padding-bottom: 10px;
}
.nih-link-sep {
    padding: 0 0.5em;
}
.nih-slogan-separator {
    border-top: 5px solid #0e2031;
    overflow: visible;
    text-align: center;
    height: 5px;
    margin-top: -4px;
    margin-bottom: 4px;
}

.small-proviso {
    font-size: 90%;
    display: none;
}
@media (min-width : 768px) {
    .small-proviso {
        display: inherit;
    }
}



/* This just confuses users */
.searchSection {
    display: none !important;
}

.plone-navbar {
    text-transform: uppercase;
}
.plone-navbar .dropdown {
    text-transform: none;
}
dd {
    margin-bottom: 3px;
}

/* Kara wants more contrast; it's "!important" */
.plone-navbar-nav .current > a,
.plone-navbar-nav .selected > a,
.plone-navbar-nav .current > a:hover,
.plone-navbar-nav .selected > a:hover,
.plone-navbar-nav .current > a:focus,
.plone-navbar-nav .selected > a:focus {
    color: rgb(13, 102, 161) !important;
    background-color: #ffffff !important;
}
.plone-nav li.current label {
    color: rgb(13, 102, 161);
}
.ui-state-active {
    background: rgb(106, 72, 125) !important;
}
.plone-breadcrumb ol > li + li::before {
    color: black !important;
}

/* Kara says this line isn't contrasty enough—even though the hyperlink text itself is *already* a different, contrasting color 🙄 */
#content-core a {
    border-bottom: 1px solid black !important;
}
#content-core a:hover {
    border-bottom: none !important;
}

#content-core dd {
    margin-bottom: 1rem;
    padding-left: 3.5rem;
}

ul#edrn-quicklinks {
    margin-top: 0px;
}
ul#edrn-quicklinks li {
    padding-right: 5px;
}
#edrn-quicklinks {
    margin: 10px 0 0 0;
    list-style: none;
    padding: 0;
    font-size: 85%;
}
#edrn-quicklinks li {
    border: 1px solid;
    border-color: #ccc #bbb #b6b6b6 #ccc;
    margin: 0 0 3px 0;
}
#edrn-quicklinks li a {
    display: block;
    padding: 13px 0 13px 0;
    text-decoration: none;
}
#edrn-quicklinks li a, #edrn-quicklinks li a:link, #edrn-quicklinks li a:visited {
    color: #400;
}
#edrn-quicklinks li a:hover, #edrn-quicklinks li a:active {
    color: #004;
    text-decoration: none;
}
#edrn-quicklinks li a:hover {
    background-color: #fff;
    color: #f00;
}

/* There are smarter ways to get margins in there but I have no time for research */
#q-collabGroups  a::before { content: '\00a0\e830\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-committees    a::before { content: '\00a0\e802\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-fund          a::before { content: '\00a0\e80f\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-book          a::before { content: '\00a0\e81b\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-cbrg          a::before { content: '\00a0\e831'; font-family: "Fontello"; font-size: 150%; } /* Ghetto kern */
#q-dcp           a::before { content: '\00a0\e80a\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-advocates     a::before { content: '\00a0\e80b\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-sites         a::before { content: '\00a0\e80c\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-specimens     a::before { content: '\00a0\e808\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-standards     a::before { content: '\00a0\e809\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-newMembers    a::before { content: '\00a0\e80a\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-members       a::before { content: '\00a0\e824\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-informatics   a::before { content: '\00a0\e849\00a0'; font-family: "Fontello"; font-size: 150%; }
#q-nct           a::before { content: '\00a0\e804\00a0'; font-family: "Fontello"; font-size: 150%; }


.homeGrid {
    display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px; grid-auto-rows: minmax(100px, auto);
    color: white;
}
.homeGrid a {
    color: white;
}
.homeGrid > div {
    padding: 1rem;
}
.homeGrid h2 {
    padding-left: 1.5rem;
}
.homeGrid ul {
    list-style-type: none;
    padding-left: 1.7rem;
}
.homeData {
    background: rgb(17,134,147);
    background: linear-gradient(135deg, rgba(17,134,147,1) 0%, rgba(17,134,147,0.96) 100%);
}
.homeWork {
    background: rgb(14,113,153);
    background: linear-gradient(135deg, rgba(14,113,153,1) 0%, rgba(14,113,153,0.96) 100%);
}
.homeNews {
    background: rgb(14,111,138);
    background: linear-gradient(135deg, rgba(14,111,138,1) 0%, rgba(14,111,138,0.96) 100%);
}
.homeAbout {
    background: rgb(9,75,118);
    background: linear-gradient(135deg, rgba(9,75,118,1) 0%, rgba(9,75,118,0.96) 100%);
}


.dataResourcesGrid {
    display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px; grid-auto-rows: minmax(100px, auto);
    color: white;
}
.dataResourcesGrid a {
    color: white;
}
.dataResourcesGrid > div {
    padding: 1rem;
}
.dataResource {
    background: rgb(13,102,161);
    background: linear-gradient(180deg, rgba(13,102,161,1) 0%, rgba(13,102,161,0.96) 100%);
}
.dataResource h2 a img {
    margin-top: 0;
}


.aboutEDRNGrid {
    display: grid; grid-template-columns: repeat(3, 1fr); grid-gap: 10px; grid-auto-rows: minmax(100px, auto);
    color: white;
}
.aboutEDRNGrid a {
    color: white;
}
.aboutEDRNGrid > div {
    padding: 1rem;
}
.aboutEDRNTopic {
    background: rgb(13,102,161);
    background: linear-gradient(180deg, rgba(13,102,161,1) 0%, rgba(13,102,161,0.96) 100%);
}
.aboutEDRNTopic h2 a img {
    margin-top: 0;
}
