{% load wagtailcore_tags wagtailimages_tags %}
{# 🔮 TODO: caching #}
<div class='card mb-3 w-100 p-3 {{self.style}}'>
    <div class='row'>
        {% if self.page and self.image %}
            <div class='col-4 d-none d-lg-block me-1'>
                {% if self.page %}<a href='{{self.page.url}}'>{% endif %}
                {% if self.image %}
                    <picture style='float: left;' class='me-3'>
                        {% image card.image fill-140x140 as icon %}
                        <img src='{{icon.url}}' alt='{{icon.alt}}'/>
                    </picture>
                {% endif %}
                {% if self.page %}</a>{% endif %}
            </div>
        {% endif %}
        <div class='col'>
            {% if self.page %}<a href='{{self.page.url}}'>{% endif %}
            <h2>{{self.title}}</h2>
            {% if self.page %}</a>{% endif %}
            {% if self.description %}
                {{self.description|richtext}}
            {% endif %}
            <ul class='list-unstyled'>
                {% for link in self.links %}
                    <li>
                        {% include_block link %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{# -*- HTML (Jinja) -*- #}
