<div>
    {% for organ in bdls %}
        <h4>
            {% if organ.title %}
                {{organ.title}}
            {% else %}
                Sites with No Associated Organ
            {% endif %}
        </h4>
        {% for proposal in organ.proposal_groups %}
            <ul class='list-inline'>
                {% for site in proposal.sites %}
                    <li class='list-inline-item me-2'>
                        <a href='{{site.pi.url}}'>{{site.pi.title}}</a> – <a href='{{site.url}}'>{{site.title}}</a>
                    </li>
                {% empty %}
                    <li class='list-inline-item'><small>(No sites specified)</small></li>
                {% endfor %}
            </ul>
            <h6 class='mt-3'>{% if proposal.title %}{{proposal.title}}{% else %}<small>(No proposal)</small>{% endif %}</h6>
            <p>
                <button class='btn btn-sm btn-outline-secondary text-nowrap' type='button' data-bs-toggle='collapse'
                    data-bs-target='#{{proposal.cid}}' aria-expanded='false' aria-controls='{{proposal.cid}}'>Read Specialty</button>
            </p>
            <div class='collapse' id='{{proposal.cid}}'>
                <p class='card card-body'>{{proposal.specialty|safe}}</p>
            </div>

        {% endfor %}
    {% endfor %}
</div>
{# -*- Django HTML -*- #}
