{% load knowledge_filters %}
<div class='col-md-4 col-sm-6'>
    <div class='thumbnail'>
        <a href='{{car.url}}'><h4 class='label label-success'>{{car.title}} ${{car.price}}</h4></a>
        <div class='caption'>
            <h5 class='title'>{{car.color|capfirst}} {{car.make}} {{car.model}} {{car.year}}</h5>
            <ul class='list-unstyled'>
                <li>
                    <span><strong>Condition:</strong> {{car.condition|knowledge_labelize}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
{# -*- Django HTML -*- #}
