{% extends 'base.html' %}
{% load wagtailcore_tags static knowledge_tags %}

{% block title %}Data Sharing Policies{% endblock title %}

{% block content %}
    <div class='row mt-3'>
        <div class='col-auto'>
            <h1>Data Sharing Policies</h1>
            <p>The following shows which sites have data sharing policies and which do not.

            <h2>Sites with Data Sharing Policies</h2>
            <p>Number of sites: {{agreed|length}}</p>
            <ul class='list-unstyled'>
                {% for site in agreed %}
                    <li><a href='{{site.url}}'>{{site.title}} ({{site.dmccSiteID}})</a></li>
                {% empty %}
                    <li>No sites have data sharing policies.</li>
                {% endfor %}
            </ul>

            <h2>Sites without Data Sharing Policies</h2>
            <p>Number of sites: {{not_agreed|length}}</p>
            <ul class='list-unstyled'>
                {% for site in not_agreed %}
                    <li><a href='{{site.url}}'>{{site.title}} ({{site.dmccSiteID}})</a></li>
                {% empty %}
                    <li>Every site seems to have a data sharing policy.</li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock content %}
{# -*- Django HTML -*- #}
