{% extends 'base.html' %}

{% block title %}External Data Sharing and Reuse Policy{% endblock title %}

{% block content %}
    <div class='row mt-3'>
        <div class='col-auto'>
            <h1>EDRN External Data Sharing and Reuse Policy Funding Cycle {{funding_cycle}}</h1>
            <p>The following shows which sites have data sharing policies and which do not.

            <h2>Sites With Signed Data Sharing Policies</h2>
            <p>Number of sites: {{agreed|length}}</p>
            <table class='table' summary='Sites with signed data sharing policies'>
                <thead>
                    <tr><th>Site ID</th><th>Site</th><th>Principal Investigator</th></tr>
                </thead>
                <tbody>
                    {% for site in agreed %}
                        <tr>
                            <td width='10%'><a href='{{site.url}}'>{{site.dmccSiteID}}</a></td>
                            <td width='60%'><a href='{{site.url}}'>{{site.title}}</a></td>
                            <td width='30%'><a href='{{site.pi.url}}'>{{site.pi.title}}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h2>Sites Pending Signed Data Sharing Policies</h2>
            <p>Number of sites: {{not_agreed|length}}</p>
            <table class='table' summary='Sites without signed data sharing policies'>
                <thead>
                    <tr><th>Site ID</th><th>Site</th><th>Principal Investigator</th></tr>
                </thead>
                <tbody>
                    {% for site in not_agreed %}
                        <tr>
                            <td width='10%'><a href='{{site.url}}'>{{site.dmccSiteID}}</a></td>
                            <td width='60%'><a href='{{site.url}}'>{{site.title}}</a></td>
                            <td width='30%'><a href='{{site.pi.url}}'>{{site.pi.title}}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}
{# -*- HTML (Jinja) -*- #}
