{% extends 'eke.knowledge/knowledge-object.html' %}
{# 🔮 TODO: caching #}

{% block knowledge_content %}

    <dl class='row'>
        <dt class='col-md-2'>ICD9</dt>
        <dd class='col-md-10'><code>{{page.icd9Code}}</code></dd>
        <dt class='col-md-2'>ICD10</dt>
        <dd class='col-md-10'><code>{{page.icd10Code}}</code></dd>
        <dt class='col-md-2'>Affected Organs</dt>
        <dd class='col-md-10'>
            <ul class='list-unstyled'>
                {% for bodySystem in page.affectedOrgans.all|dictsort:'title' %}
                    <li>
                        <a href='{{bodySystem.url}}'>{{bodySystem}}</a>
                    </li>
                {% endfor %}
            </ul>
        </dd>
    </dl>

{% endblock knowledge_content %}
{# -*- Django HTML -*- #}
