{% extends 'eke.knowledge/knowledge-folder.html' %}
{# 📜 Protocol Index #}
{# 🔮 TODO: caching #}
{% load wagtailcore_tags knowledge_tags plotly_dash static %}
{% block extra_css %}
    {% plotly_header %}
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fh-3.2.4/kt-2.7.0/r-2.3.0/datatables.min.css'/>
{% endblock %}
{% block knowledge_content %}

    {% plotly_direct name='ProtocolDashboard' %}

    {% if knowledge_empty %}
        <div class='row'>
            <small>There are no protocols in this folder.</small>
        </div>
    {% else %}
        <div class='row'>
            <div class='col-auto mb-3'>
                <table summary='Protocols' class='table' id='the-datatable' style='width: 100%;'>
                    <thead>
                        <tr>
                            <th class='only-search-col'>Title</th>
                            <th class='only-search-col'>Abstract</th>
                            <th>PI</th>
                            <th>Field</th>
                            <th>Collab. Group</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Abstract</th>
                            <th>PI</th>
                            <th>Field</th>
                            <th>Collab. Group</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock knowledge_content %}
{% block extra_js %}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js'></script>
    <script type='text/javascript' src='https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fh-3.2.4/kt-2.7.0/r-2.3.0/datatables.min.js'></script>
    <script>
        $(document).ready(function() {
            $('#the-datatable thead tr th.only-search-col').each(function() {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + 's"/>');
            });
            $('#the-datatable').DataTable({
                ajax: {url: '{% pageurl page %}?ajax=json', dataSrc: 'data'},
                columns: [
                    {data: 'title', render: function(data, type, row) {
                        return '<a href="' + row['url'] + '">' + data + '</a>';
                    }},
                    {data: 'description', render: function(data, type, row) {
                        return type === 'display' && data.length > 200?
                            '<span title="' + data + '">' + data.substr(0, 195) + '…</span>' : data;
                    }},
                    {data: 'pi_name', render: function(data, type, row) {
                        return '<a href="' + row['pi_url'] + '">' + data + '</a>';
                    }},
                    {data: 'field'},
                    {data: 'cg'}
                ],
                fixedHeader: true,
                buttons: ['copy', 'excel', 'csv', 'pdf'],
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>B",
                initComplete: function() {
                    this.api().columns([2, 3, 4]).every(function() {
                        var column = this;
                        var label = this.footer().innerHTML;
                        var select = $('<select><option value="">— ' + label + ' —</option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function() {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                column.search(val? '^' + val + '$' : '', true, false).draw();
                            });
                        column.data().unique().sort().each(function(d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    });
                    this.api().columns([0, 1]).every(function() {
                        var that = this;
                        $('input', this.header()).on('keyup change clear', function() {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
    {% plotly_footer %}
{% endblock extra_js %}
{# -*- Django HTML -*- #}
