{% extends 'eke.knowledge/knowledge-folder.html' %}
{# 📚 Publication Index #}
{# 🔮 TODO: caching #}
{% load wagtailcore_tags knowledge_tags plotly_dash static %}
{% block extra_css %}
    {% plotly_header %}
    <link rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fh-3.2.4/kt-2.7.0/r-2.3.0/datatables.min.css'/>
{% endblock %}
    {% block edrn_extra_sources %}
        <li>
            Note: <strong>grant numbers</strong> provide an additional source of publication information
            for this folder
        </li>
    {% endblock %}
{% block knowledge_content %}

    {% plotly_direct name='PubsByYear' %}

    {% if knowledge_empty %}
        <div class='row'>
            <small>There are no publications in this folder.</small>
        </div>
    {% else %}
        <div class='row'>
            <div class='col-auto mb-3'>
                <table summary='Publications' class='table' id='the-datatable' style='width: 100%;'>
                    <thead>
                        <tr>
                            <th class='only-search-col'>Title</th>
                            <th>Journal</th>
                            <th>Year</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Title</th>
                            <th>Journal</th>
                            <th>Year</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock knowledge_content %}
{% block extra_js %}
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js'></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js'></script>
    <script type='text/javascript' src='https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-colvis-2.2.3/b-html5-2.2.3/b-print-2.2.3/fh-3.2.4/kt-2.7.0/r-2.3.0/datatables.min.js'></script>

    <script>
        function headerFunction(data, columnIndex, node) {
            switch (columnIndex) {
                case 0: return 'Title';
                case 1: return 'Journal';
                case 2: return 'Year';
                default: return data;
            }
        }
        $(document).ready(function() {
            $('#the-datatable thead tr th.only-search-col').each(function() {
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + 's"/>');
            });
            $('#the-datatable').DataTable({
                {% comment %}
                    Sadly we can't use server side data tables quite yet 🙁
                    ajax: {url: '{% pageurl page %}?ajax=json-server-datatable', dataSrc: 'data'},
                    serverSide: true,
                {% endcomment %}
                ajax: {url: '{% pageurl page %}?ajax=json', dataSrc: 'data'},
                columns: [
                    {data: 'title', render: function(data, type, row) {
                        return '<a href="' + row['url'] + '">' + data + '</a>';
                    }},
                    {data: 'journal'},
                    {data: 'year'}
                ],
                fixedHeader: true,
                buttons: [
                    {extend: 'copyHtml5', exportOptions: {format: {header: headerFunction}}},
                    {extend: 'excelHtml5', exportOptions: {format: {header: headerFunction}}},
                    {extend: 'csvHtml5', exportOptions: {format: {header: headerFunction}}},
                    {extend: 'pdfHtml5', exportOptions: {format: {header: headerFunction}}}
                ],
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>><'row'<'col-sm-12'tr>>" +
                    "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>B",
                initComplete: function() {
                    this.api().columns([1, 2]).every(function() {
                        var column = this;
                        var label = this.footer().innerHTML;
                        var select = $('<select><option value="">— ' + label + ' —</option></select>')
                            .appendTo($(column.header()).empty())
                            .on('change', function() {
                                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                                column.search(val? '^' + val + '$' : '', true, false).draw();
                            });
                        column.data().unique().sort().each(function(d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>');
                        });
                    });
                    this.api().columns([0]).every(function() {
                        var that = this;
                        $('input', this.header()).on('keyup change clear', function() {
                            if (that.search() !== this.value) {
                                that.search(this.value).draw();
                            }
                        });
                    });
                }
            });
        });
    </script>
    {% plotly_footer %}
{% endblock extra_js %}
{# -*- Django HTML -*- #}
