{% extends 'eke.knowledge/knowledge-object.html' %}
{# 🔮 TODO: caching #}

{% block knowledge_content %}

    <div class='row'>
        <div class='col-lg-9'>
            <h2>Abstract</h2>
            {% if page.abstract %}
                {% autoescape off %}
                    {{page.abstract}}
                {% endautoescape %}
            {% else %}
                <p class='small'>No abstract available.</p>
            {% endif %}

            {% if num_biomarkers %}
                <h2>Biomarkers</h2>

                {% if num_biomarkers == 1 %}
                    <p>One biomarker makes reference to this publication:</p>
                {% else %}
                    <p>The following biomarkers make reference to this publication:</p>
                {% endif %}

                <ul class='list-inline'>
                    {% for biomarker in biomarkers %}
                        <li class='list-inline-item'><a href='{{biomarker.url}}'>{{biomarker.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}

            {% if num_protocols %}
                <h2>Protocols</h2>

                {% if num_protocols == 1 %}
                    <p>One protocol is associated with this publication:</p>
                {% else %}
                    <p>The following {{num_protocols}} protocols are associated with this publication:</p>
                {% endif %}

                <ul>
                    {% for protocol in protocols %}
                        <li><a href='{{protocol.url}}'>{{protocol.title}}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}


        </div>
        <div class='col-lg-3'>
            <h5>EDRN PI Authors</h5>
            <ul class='list-unstyled'>
                {% for author in edrn_pis.all %}
                    <li><a href={{author.url}}>{{author.title}}</a></li>
                {% empty %}
                    <li class='small'>(None specified)</li>
                {% endfor %}
            </ul>

            <h5>Medline Author List</h5>
            <ul class='list-inline'>
                {% for author in page.authors.all %}
                    <li class='list-inline-item'>{{author.value}}</li>
                {% empty %}
                    <li class='list-inline-item small'>(None specified)</li>
                {% endfor %}
            </ul>
            <h5>PubMed ID</h5>
            <div class='mb-3'>
                {% if page.pubMedID %}
                    <a href='https://pubmed.ncbi.nlm.nih.gov/{{page.pubMedID}}'>{{page.pubMedID}}</a>
                {% else %}
                    <small>(Not specified)</small>
                {% endif %}
            </div>
            <h5>Appears In</h5>
            {{appearance}}
        </div>
    </div>
{% endblock knowledge_content %}
{# -*- Django HTML -*- #}
