{% extends 'eke.knowledge/knowledge-folder.html' %}
{# 📚 Publication Index #}
{# 🔮 TODO: caching #}
{% load wagtailcore_tags knowledge_tags plotly_dash static %}
{% block extra_css %}
    {% plotly_header %}
{% endblock %}
{% block knowledge_content %}

    {% plotly_direct name='PubsByYear' %}

    {% if knowledge_empty %}
        <div class='row'>
            <small>There are no publications in this folder.</small>
        </div>
    {% else %}
        <form class='row g-3' action='{% pageurl page %}' method='GET'>
            <div class='col-md-2'>
                <label for='searchTerms' class='form-label'>Search publications:</label>
            </div>
            <div class='col-md-9'>
                <input id='searchTerms' class='form-control form-control-sm' type='text' name='query'
                    {% if query %}
                        value='{{query}}'
                    {% else %}
                        placeholder='Search terms…'
                    {% endif %}
                    aria-label='Search terms…'
                />
            </div>
            <div class='col-md-1'>
                <input type='submit' value='Search'/>
            </div>
        </form>
        <div class='row'>
            <form class='col-md-3 col-sm-4' id='facets'>
                {% faceted_vocab_selector 'journal' %}
            </form>
            <div class='col-md-9 col-sm-8'>
                <table summary='Publications' class='table'>
                    <thead>
                        <tr><th>Title</th><th>Year</th></tr>
                    </thead>
                    <tbody id='searchCont'>
                        {% faceted_results %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
{% endblock knowledge_content %}
{% block extra_js %}
    <script src='{% static "eke.knowledge/js/jquery.deserialize.js" %}'></script>
    <script src='{% static "eke.knowledge/js/jquery.facets.js" %}'></script>
    <script>
        $(document).ready(function() {
            $('form#facets').facets({
                URLParams: [{name: 'ajax', value: 'true'}],
                preAJAX: function() {
                    // Validation can occur here apparently
                    return true;
                }
            });
        });
    </script>
    {% plotly_footer %}
{% endblock extra_js %}
{# -*- Django HTML -*- #}
