{% load knowledge_filters %}
<div>
    <table class='table'>
        <thead>
            <tr>
                <th width='10%' scope='col'>Site ID</th>
                <th width='40%' scope='col'>Investigator</th>
                <th width='50%' scope='col'>Site</th>
            </tr>
        </thead>
        <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{site.dmccSiteID}}</td>
                    {% if site.pi %}
                        <td><a href='{{site.pi.url}}'>{{site.pi.title}}</a></td>
                    {% else %}
                        <td><small>(No PI)</small></td>
                    {% endif %}
                    <td><a href='{{site.url}}'>{{site.title}}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{# -*- HTML (Jinja) -*- #}
