{% extends 'eke.knowledge/knowledge-folder.html' %}
{% load wagtailcore_tags plotly_dash edrn_site_tags %}
{# 🔮 TODO: caching #}
{% block extra_css %}
    {% plotly_header %}
{% endblock %}
{% block knowledge_content %}

    <div class='row'>
        <div class='col-auto'>
            <p>
                <i class='bi bi-patch-check'></i> Also try the <a href='{{member_finder_url}}'>member finder</a>.
            </p>
        </div>
    </div>

    <div class='row mb-3'>
        {% plotly_direct name='SitesChart' %}
    </div>

    {% if knowledge_empty %}
        <p>(There are no sites.)</p>
    {% else %}
        <ul>
            <li><a href='#bccs'>Biomarker Characterization Centers</a></li>
            <li><a href='#bdls'>Biomarker Developmental Laboratories</a></li>
            <li><a href='#brls'>Biomarker Reference Laboratories</a></li>
            <li><a href='#cvcs'>Clinical Validation Centers</a></li>
            <li><a href='#dmcc'>Data Management and Coordinating Center</a></li>
            <li><a href='#ic'>Informatics Center</a></li>
            <li><a href='#nci'>National Cancer Institute</a></li>
            <li><a href='#assoc'>Associate Members</a></li>
            <li><a href='#spore'>SPOREs</a></li>
            <li><a href='#nonEDRN'>Non-EDRN Sites</a></li>
            <li><a href='#ahead'>Advancement of Head and Neck Cancer Early Detection Research (AHEAD)</a></li>
        </ul>

        <h2><a name='bccs'>Biomarker Characterization Centers</a></h2>
        <p>
            The Biomaker Characterization Centers (BCCs) identify, specify, and make distinctive new biomarkers
            or refine existing biomarkers. There are two kinds of BCCs:
        </p>
        <ul>
            <li><a href='#bdls'>Biomarker Developmental Laboratories (BDLs)</a></li>
            <li><a href='#brls'>Biomarker Reference Laboraotries (BRLs)</a></li>
        </ul>
        {% if bcc %}
            {% edrn_sites_organized_by_needlessly_complex_and_arbitrary_groups "BCC" bcc True %}
        {% else %}
            <p class='small'>There are no known Biomarker Characterization Centers.</p>
        {% endif %}

        <h2><a name='bdls'>Biomarker Developmental Laboratories</a></h2>
        <p>
            Biomarker Developmental Laboratories (BDLs) discover and develop new biomarkers or refine existing
            biomarkers. They are the primary source of new biomarkers or panels of biomarkers on which the EDRN
            conducts validation trials. They also develop assays to detect candidate biomarkers and conduct
            pre-validation studies.
        </p>
        {% if bdl %}
            {% edrn_sites_organized_by_needlessly_complex_and_arbitrary_groups "BDL" bdl True %}
        {% else %}
            <small>There are no known Biomarker Developmental Laboratories.</small>
        {% endif %}

        <h2><a name='brls'>Biomarker Reference Laboratories</a></h2>
        <p>
            Biomarker Reference Laboratories (BRLs) conduct assays for EDRN validation trials. The assays are
            performed on blinded biospecimens to minimize bias in the analysis and independently verify the assay
            performance. BRLs also serve as the primary resource for analytical validation of biomarkers,
            technological development, standardization, assay refinement and quality control.
        </p>
        {% if brl %}
            {% edrn_sites_organized_by_needlessly_complex_and_arbitrary_groups "BRL" brl True %}
        {% else %}
            <p class='small'>There are no known Biomarker Reference Laboratories.</p>
        {% endif %}

        <h2><a name='cvcs'>Clinical Validation Centers</a></h2>
        <p>
            Clinical Validation Centers (CVCs) conduct validation trials on biomarkers discovered/developed by
            both EDRN and non-EDRN investigators. CVCs also provide high-quality, well-annotated biospecimens to
            the BDLs for biomarker discovery, development and pre-validation studies. The use of biospecimens
            collected using rigorous standard operating procedures helps minimize false discoveries.
        </p>
        {% if cvc %}
            {% edrn_sites_organized_by_needlessly_complex_and_arbitrary_groups "CVC" cvc True %}
        {% else %}
            <p class='small'>There are no known Clinical Validation Centers.</p>
        {% endif %}

        <h2><a name='dmcc'>Data Management and Coordinating Center</a></h2>
        <p>
            The Data Management and Coordinating Center (DMCC) works with the CVCs to conduct biomarker validation
            trials. The DMCC assists with protocol design, monitors the trial, and maintains the data and
            biospecimen tracking system. The DMCC is responsible for analyzing the results of the trials,
            thereby reducing bias as they are independent from the laboratories that discovered the biomarkers.
            The DMCC provides statistical advice to the BDLs, develops theoretical and applied approaches for simultaneous analysis of multiple markers, and collaborates with the EDRN Informatics Center.
        </p>
        {% if dmcc %}
            {% edrn_sites_organized_by_needlessly_complex_and_arbitrary_groups "DMCC" dmcc False %}
        {% else %}
            <p class='small'>There are no Data Management or Coordinating Centers.</p>
        {% endif %}

        <h2><a name='ic'>Informatics Center</a></h2>
        <p>
            The Informatics Center, provided by the Jet Propulsion Laboratory, pioneers data science software, systems, tools, and data-driven methodologies, serving the data capture, management, sharing, and analysis needs to enable a national biomarker data ecosystem.
        </p>
        {% if ics %}
            {% edrn_sites_by_type ics %}
        {% else %}
            <p class='small'>There are no known Informatics Centers.</p>
        {% endif %}

        <h2><a name='nci'>National Cancer Institute</a></h2>
        <p>
            The National Cancer Institute is the hub of the Early Detection Research Network.
        </p>
        {% if ncis %}
            {% edrn_sites_by_type ncis %}
        {% else %}
            <p class='small'>There is no National Cancer Institute.</p>
        {% endif %}

        <h2><a name='assoc'>Associate Members</a></h2>
        <p>This section lists associate EDRN members.</p>

        <h3>Associate Member A — EDRN Funded</h3>
        {% if typeA %}
            {% edrn_sites_by_type typeA %}
        {% else %}
            <p class='small'>There are no type A associate members.</p>
        {% endif %}

        <h3>Associate Member B</h3>
        {% if typeB %}
            {% edrn_sites_by_type typeB %}
        {% else %}
            <p class='small'>There are no type B associate members.</p>
        {% endif %}

        <h3>Associate Member C</h3>
        {% if typeC %}
            {% edrn_sites_by_type typeC %}
        {% else %}
            <p class='small'>There are no type C associate members.</p>
        {% endif %}

        <h2><a name='spore'>SPOREs</a></h2>
        {% if spore %}
            {% edrn_sites_by_type spore %}
        {% else %}
            <p class='small'>There are no Specialized Programs of Research Excellence (SPORE).</p>
        {% endif %}

        <h2><a name='nonEDRN'>Non-EDRN Sites</a></h2>
        {% if non %}
            {% edrn_sites_by_type non %}
        {% else %}
            <p class='small'>There are no non-EDRN sites.</p>
        {% endif %}

        <h2><a name='ahead'>Advancement of Head and Neck Cancer Early Detection Research (AHEAD)</a></h2>
        {% if ahead %}
            {% edrn_sites_by_type ahead %}
        {% else %}
            <p class='small'>There are no non-AHEAD sites.</p>
        {% endif %}

    {% endif %}
{% endblock knowledge_content %}
{% block extra_js %}
    {% plotly_footer %}
{% endblock extra_js %}
{# -*- HTML (Jinja) -*- #}
