@charset "utf-8";

.certifications {
    float: right;
    padding-right: 1em;
}

.unacceptedBiomarkerAdmonishment {
    border: 1px dashed rgb(190, 195, 195);
    margin: 3em;
    padding: 3em;
    font-size: 90%;
}

.biomarkerName {
}


.bmAttributes, .bodySysAttributes {
    float: right;
}
.organsIntro, .studyIntro {
    font-style: italic;
}
.studyForBodySystem {
    background-color: rgb(221,221,221);
    margin-left: 3em;
    padding: 0.1em 0 0.1em 1em;
}
.studyForBodySystem h4 {
    border-bottom: 1px dashed rgb(39,47,47);
}

.studyBox {
    background: #efefef url(++resource++study-bg.gif) repeat-x top left;
    margin-left: 3em;
}
.studyBoxTop div {
    background: url(++resource++studyTopLeft.gif) no-repeat top left;
}
.studyBoxTop {
    background: transparent url(++resource++studyTopRight.gif) no-repeat top right;
}
.studyBoxBottom div {
    background: url(++resource++studyBottomLeft.gif) no-repeat bottom left;
}
.studyBoxBottom {
    background: transparent url(++resource++studyBottomRight.gif) no-repeat bottom right;
}

.studyBoxTop div, .studyBoxTop, .studyBoxBottom div, .studyBoxBottom {
    width: 100%;
    height: 10px;
    font-size: 1px;
}
.studyBoxContent {
    margin: 0 10px;
}

.studyBoxContent table {
    background-color: #fff;
    font-size: 90%;
    width: 100%;
    border-top: solid 1px #ccc;
}
.studyBoxContent table td {
    padding: 4px;
    margin: 2px;
    border: solid 1px #ccc;
    border-top: 0;
    border-right: 0;
    vertical-align: top;
}
.studyBoxContent table th {
    border-bottom: dotted 1px #ccc;
    border-left: solid 1px #ccc;
    background-color: #f2f2f2;
    padding: 5px;
}
.stat {
    text-align: center;
}




/** ADDED **/
div#content {
    position:relative;
}
div#biomarker-aliases {
    border:1px solid #9c9;
    color:#444;
    margin:5px 5px 15px 0px;
    padding:5px;
}
div#biomarker-aliases h5 {
    background-color:#9c9;
    color:#fff;
    margin:-5px -5px 5px -5px;
    padding:5px;
}
span.hint {
    font-style:italic;
    color:#888;
}
div#biomarker-aliases ul {
    list-style:none;
    margin:5px 0 0 0;
    padding:0px;
    font-size:90%;
}

div#biomarker-aliases ul li {
    display:inline;
    margin-right:5px;
}

.attributebox {
    border:solid 1px #ccc;
    background:0;
    background-color:#eee;
    color:#333;
    width:20%;
    padding-top:5px;
    margin-right:5px;
    overflow:hidden;
}
div.attributebox-content h3 {
    color:#555;
    border-bottom-color:#777;
}

div#colLeftContent {
    position:relative;
    float:left;
    width:76%;
}
div#colLeftContent p {
    text-indent:15px;
}
div#colLeftContent h4 { 
    color:#555;
    font-weight:normal;
    font-size:17px;
    margin-top:20px;
    border-bottom:dotted 1px #bcbcbc;
}
.biomuta-table table td {
    padding: 4px;
    margin: 2px;
    border: solid 1px #ccc;
    border-top: 0;
    border-right: 0;
    vertical-align: top;
}
.biomuta-table table th {
    border-bottom: dotted 1px #ccc;
    border-left: solid 1px #ccc;
    background-color: #f2f2f2;
    padding: 5px;
    text-align: left;
}
