@charset "UTF-8";


#login-please {
    font-size: 150%;
    font-weight: bold;
}
#login-please a {
    color: #004665;
    text-decoration: underline;
}
.cbInfoBox {
    border: 1px solid #bbb;
    padding: 0.5em;
    width: 240px;
    margin: 0.5em 0;
}
.collaborativeGroupContainer {
    float: left;
    padding-right: 0.5em;
}
.collaborativeGroupContainer p a {
    color: #004665;
}
.collaborativeGroupContainer h1 {
    font: 20pt "Georgia", Times, "Times New Roman", serif;
    color: rgb(166, 0, 0);
    border-bottom: none;
    margin-bottom: 0.2em;
    line-height: 90%;
    padding-top: 0.2em;
}
.collaborativeGroupContainer h2 {
    font: 14pt "Georgia", Times, "Times New Roman", serif;
    color: rgb(166, 0, 0);
    border-bottom: none;
    margin-bottom: 0.2em;
    line-height: 90%;
}
.collaborativeGroupContainer .documentDescription {
    line-height: 12pt;
    font-size: 10pt;
}
.topCollabGroupItems .discreet {
    line-height: 1em;
    color: red !important;
}
#collabGroupDetails {
    margin-top: 0;
}
#content .collaborativeGroupContainer .formTabs {
    margin-left: 0;
    font-size: 9pt;
}

.cbMemberBox {
    border: 1px solid #bbb;
    padding: 0.5em;
    width: 240px;
    margin: 0.5em 0;
}
.cbMemberBox h2 {
    background: transparent url(++resource++h2-members.png) no-repeat top left;
    margin-top: 0;
    height: 32px;
    padding: 0.5em 0 0 36px;
}
.cbDetailBox {
    border: 1px solid #bbb;
    padding: 0.5em;
    margin: 0.5em 0;
}
.collaborativeGroupContainer #collabGroupDetails {
    width: 470px;
}
.collabDetailList dd {
    line-height: 1.1em;
    padding-top: 0 !important;
    padding-left: 1em;
}
/*.topCollabGroupItems {
    border: 1px solid #bbb;
    padding: 0.5em;
    width: 194px;
    margin: 0.5em 0;
    float: left;
    margin-right: 0.5em;
}*/
.cbProjectsHeading {
    background: transparent url(++resource++h2-projects.png) no-repeat top left;
    margin-top: 0;
    height: 32px;
    padding: 0.5em 0 0 36px;
}
.cbEventsHeading {
    background: transparent url(++resource++h2-events.png) no-repeat top left;
    margin-top: 0;
    height: 32px;
    padding: 0.5em 0 0 36px;
}
.cbHighlightsHeading {
    background: transparent url(++resource++h2-highlights.png) no-repeat top left;
    margin-top: 0;
    height: 32px;
    padding: 0.5em 0 0 36px;
}
.topCGEvents dd {
    line-height: 1.1em;
    padding-top: 0 !important;
    padding-left: 1em;
}
.topCollabGroupItemDescription {
    color: rgb(60, 60, 60);
    font-size: 8pt;
    line-height: 9pt;
}
.viewMoreEDRNStuffLink {
    text-align: right;
}
.membersColumn {
    font-size: 8pt;
    float: left;
}
.collaborationsNewContentButtons {
    text-align: center;
}
.collaborationsNewContentButtons li {
    display: inline;
    padding: 0 1em;
}
