@charset "utf-8";

.memberAlbumEntry {
    display: inline-block;
    margin: 5px; 
    vertical-align: middle;
}
.memberAlbumEntry a {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-weight: 400;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  background: #fcfcfd;
  width: 220px;
  height: 120px;
}
.memberAlbumEntry img {
    max-width: 200px;
    max-height: 200px;
}
.memberAlbumEntryTitle {
    font-weight: bold;
}
