@charset "utf-8";

.teamProjectBeacon {
    float: right;
}
.nonEDRNBeacon {
    float: right;
}
.protocolTitle {
    margin-right: 80px;
}


div#protocolMetadataContainer {
  border:solid 0px #ccc;
  font-size:90%;
} 

div#protocolLongTextMetadata {
  width:60%;
  padding:0px 10px 10px 0px;
  float:left;
}

div#content div#protocolLongTextMetadata label {
  background-color:#fff;
  font-size:120%;
  padding-left:0px;
  padding-bottom:2px;
  font-weight:bold;
}

div#protocolShortTextMetadata {
  padding:0px 0px 10px 0px;
  width:35%;
  float:right;
}
div#protocolShortTextMetadata div span {
  font-size:80%;
  color:#555;
  padding-left:0px;
}
div#protocolShortTextMetadata label, div#protocolLongTextMetadata label {
    margin-bottom: 0px;
}
