{% extends "base.html" %}
{% load wagtailcore_tags cache wagtailmetadata_tags %}
{% block metadata_tags %}
    {{block.super}}
    {% meta_tags %}
{% endblock metadata_tags %}
{% block content %}
    <div class='row'>
        <div class='col-md-8 offset-md-0'>
            <h1>{{page.title}}</h1>
        </div>
    </div>
    {% comment %}
        Caching prevents any feedback for editors as they change pages. Since flex-pages will 
        be used only under the root of the site, let's just stop caching. The home page is the
        only part that really needs caching. Therefore, I'm commenting this out and leaving the
        block iterator below.

        {% if not request.is_preview %}
            {# 1 hour #}
            {% cache 3600 flex-page-stream page.id %}
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            {% endcache %}
        {% else %}
            {# preview #}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        {% endif %}
    {% endcomment %}

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}

{% endblock content %}
{# -*- HTML (Jinja) -*- #}
