{# This is used by AbstractEDRNForm unless the specific form class overrides template_name #}

{% if not form.is_valid and form.is_bound %}
    <div class='alert alert-warning' role='alert'>
        <i class='bi bi-exclamation-octagon-fill'></i> There's a problem with your submission.
        Please double-check your entries below.
    </div>
{% endif %}

{{form.non_field_errors}}
{{ errors }}

{% if errors and not fields %}
    <div>{% for field in hidden_fields %}{{field}}{% endfor %}</div>
{% endif %}
{% for field, errors in fields %}
    <div
        {% with classes=field.css_classes %}
            {% if classes %}
                class='{{classes}} mb-3 form-group'
            {% else %}
                class='mb-3 form-group'
            {% endif %}
        {% endwith %}
    >
        {% if field.use_fieldset %}
            <fieldset>
            {% if field.label %}{{field.legend_tag}}{% endif %}
        {% else %}
            {% if field.label %}{{field.label_tag}}{% endif %}
        {% endif %}
        {{errors}}
        {{field}}
        {% if field.help_text %}<div class='form-text'>{{field.help_text|safe}}</div>{% endif %}
        {% if field.use_fieldset %}</fieldset>{% endif %}
        {% if forloop.last %}
            {% for field in hidden_fields %}{{field}}{% endfor %}
        {% endif %}
    </div>
{% endfor %}
{% if not fields and not errors %}
    {% for field in hidden_fields %}{{field}}{% endfor %}
{% endif %}
{# -*- Django HTML -*- #}
