{% extends 'base.html' %}
{% load wagtailcore_tags cache wagtailmetadata_tags %}
{% block metadata_tags %}
    {{block.super}}
    {% meta_tags %}
{% endblock metadata_tags %}
{% block content %}
    <div class='mt-3'>
    {% if not request.is_preview %}
        {# 1 day #}
        {% cache 86400 section-page-stream page.id %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        {% endcache %}
    {% else %}
        {# preview #}
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock content %}
{# -*- HTML (Jinja) -*- #}
