{# 🔮 TODO: caching #}
{% if settings.edrnsitecontrols.Informatics.in_development %}
    <div class='container py-3 px-3 mb-3 rounded shadow'
        style='background: linear-gradient(133deg, rgba(233,235,208,1) 0%, rgba(255,254,198,1) 48%);'>
        <div class='row'>
            <div class='col-md-3'>
                <h1><i class='bi-cone-striped'></i> Notice</h1>
            </div>
            <div class='col-md-9'>
                <p>
                    This is <em>not</em> an official version of the portal of the Early Detection
                    Research Network. This version is for <a
                    href='https://github.com/EDRN/P5'>public demonstration</a> and review with the
                    <a href='mailto:edrn-ic@jpl.nasa.gov'>Informatics Center</a> and our partners
                    around the country. This demo site is for an application that is developed by
                    JPL but <strong>will not ultimately be hosted at JPL</strong>. It will
                    eventually be run and open to the public at the National Cancer Institute at
                    <code>edrn.nci.nih.gov</code>.
                </p>
                <p>
                    <i class='bi-play-fill'></i><a href='https://edrn.nci.nih.gov/'>
                        Go to the current production portal
                    </a>
                </p>
                <p>
                    <i class='bi-bug-fill'></i><a href='https://github.com/EDRN/P5/issues/new/choose'>
                        Report an issue
                    </a> with this (or any) EDRN portal
                </p>
            </div>
        </div>
    </div>
{% endif %}
{# -*- Django HTML -*- #}
