{% load static edrn_theme_tags menu_tags cache %}
<footer class='px-5 border-top site-footer text-light'
    style='background: url({% static "edrn.theme/images/hexagon-molecular-structure-footer.png" %}) no-repeat 100% 0, linear-gradient(45deg, #4659a5, #2f779d);'>
    <div class='row py-3'>
        <div class='division'>Division of Cancer Prevention <br/><small>at the National Cancer Institute</small></div>
    </div>
    <div class='row row-cols-4 mx-1'>
        <div class='col'>
            <div class='edrn-footer-menu-heading'>Follow DCP</div>
            {# 7 days #}
            {% cache 604800 global-footer-social-settings %}
                <ul class='nav list-inline'>
                    {% if settings.edrnsitecontrols.SocialMedia.twitter %}
                        <li class='nav-item list-inline-item mb-2'><a href='{{settings.edrnsitecontrols.SocialMedia.twitter}}' class='nav-link p-0 text-light'><i class='bi bi-twitter fs-3'></i><span class='visually-hidden-focusable'>Twitter</span></a></li>
                    {% endif %}
                    {% if settings.edrnsitecontrols.SocialMedia.facebook %}
                        <li class='nav-item list-inline-item mb-2'><a href='{{settings.edrnsitecontrols.SocialMedia.facebook}}' class='nav-link p-0 text-light'><i class='bi bi-facebook fs-3'></i><span class='visually-hidden-focusable'>Facebook</span></a></li>
                    {% endif %}
                </ul>
            {% endcache %}
        </div>

        {# 1 day #}
        {% cache 86400 global-footer-menus %}
            {% edrn_footer_menus %}
        {% endcache %}
        
    </div>

    <div class='row'>
        <ul class='nav justify-content-center list-inline'>
            <li class='nav-item list-inline-item footer-inline-item'><a href='http://www.hhs.gov/' class='nav-link px-2 text-light'>U.S. Department of Health and Human Services</a></li>
            <li class='nav-item list-inline-item footer-inline-item'><a href='http://www.nih.gov/' class='nav-link px-2 text-light'>National Institutes of Health</a></li>
            <li class='nav-item list-inline-item footer-inline-item'><a href='https://www.cancer.gov/' class='nav-link px-2 text-light'>National Cancer Institute</a></li>
            <li class='nav-item list-inline-item footer-inline-item'><a href='http://usa.gov/' class='nav-link px-2 text-light'>USA.gov</a></li>
        </ul>
        <p class='text-center text-light small'>NIH … Turning Discovery Into Health®</p>
    </div>

    <div class='row pb-1'>
        <p class='text-end small'>Version {% edrn_portal_version %}</p>
    </div>
</footer>
{# -*- Django HTML -*- #}
